Source: examplegolangdebproject
Section: golang
Priority: optional
Maintainer: none <none@gmail.com>
Build-Depends: debhelper-compat (= 12),
Standards-Version: 4.5.0
Homepage: https://github.com/exitsto/examplegolangdebproject
XS-Go-Import-Path: github.com/exitsto/examplegolangdebproject
Rules-Requires-Root: no

Package: examplegolangdebproject
Architecture: any
Depends: ${misc:Depends}
Description: examplegolangdebproject
