[Unit]
Description=examplegolangdebproject nicknameproject - Control your device
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
Group=root
ExecStart=/usr/nicknameproject/examplegolangdebproject/bin/examplegolangdebproject \
                                             --logpath /var/log/nicknameproject/

[Install]
WantedBy=multi-user.target
