[Unit]
Description= examplegolangdebproject - Control your device
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
Group=root
ExecStart=/usr/nicknameproject/examplegolangdebproject/bin/examplegolangdebproject \
                                             --ssl 0 \
                                             --config-path /etc/nicknameproject/examplegolangdebproject/config.toml \
                                             --logpath /var/log/nicknameproject/

[Install]
WantedBy=multi-user.target
