[Unit]
Description=examplegolangdebproject exitstop - Control your device
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=examplegolangdebproject
Group=examplegolangdebproject
ExecStart=/usr/exitstop/examplegolangdebproject/bin/examplegolangdebproject \
                                             --logpath /var/log/exitstop/

[Install]
WantedBy=multi-user.target
