[Unit]
Description=examplegolangdebproject nickexamplegolangdebproject - Control your device
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=root
Group=root
ExecStart=/usr/nickexamplegolangdebproject/examplegolangdebproject/bin/examplegolangdebproject \
                                             --logpath /var/log/nickexamplegolangdebproject/

[Install]
WantedBy=multi-user.target
